* { 
    padding: 0; 
    margin: 0; 
    font-family: 'Lato', sans-serif;
    color: black;
}

/* @import url("https://fonts.googleapis.com/css?family=Lato");  */


.hero-banner {
    background: url(images/hero-waterfall-bg.png),
      url(images/hero-space-bg.png), url(images/hero-pillars-bg.png),
      url(images/hero-main-bg.png);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -99999;
    animation: parallax_bg linear 40s infinite;
  }
  
  
  
  @keyframes parallax_bg {
    100% {
      background-position-y: -1200px, 1000px, 300px, 0px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .hero-banner {
  display: none;
    }
  }


  h1 { 
    font-size:26px;
    padding-left: 10px; 
    padding-top: 10px; 
    font-family: 'Lato';
    color: white; 
  }
 

/* Anchor styles */
  a { 
    color: black;
    text-decoration: none;
  }
  a:hover { 
    color: #dcdcdc;
  }
  a:active { 
    color: #666;
  }

  /* a:visited { 
    color: white;
  } */





  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



  .header-icon {
    color: black;
    height: 20px;
    width: 20px;
    /* background-color: white; */
  }


  .nav-item {
    list-style-type: none;
  }

  .nav-class { 
    background-color: white;
    color: black;
  }

   .nav-link {

  }

